.result-container .result-image {
  margin: 20px 0;
}

.result-container .result-text {
  margin: 20px 0;
  border: 1px solid #e5e5e5;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
